body {
    display: flex;
}

form {
    margin: auto;
}

button {
    background-color: #327997 !important;
    border-color: #327997 !important;
    color: white !important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.85rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}